body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/43/d4/d7/43d4d7e5ba1cfa7959a1fab8d64f22ea.gif);
  background-size: 1500px 1000px;
}

h1 {
  color: #f8f9ac;
  font-size: 50px;
  text-align: center;
  text-shadow: 3px 3px 5px black;
  text-decoration: underline;
  position: absolute;
  left: 500px;
  margin: 0 auto;
}

form {
  transition: opacity 1s ease-out;
  opacity: 0;
  font-size: 28px;
  text-shadow: 2px 2px 4px black;
  color: #ffa700;
  text-align: center;
  padding: 70px;
}

form:hover{
  opacity: 1;
}

p {
  text-align: center;
  color: #ff4000;
  font-size: 28px;
  text-shadow: 2px 2px 4px black;
}


#titles{
  display: flex;
  justify-content: space-between;
  color: #ffa700;
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
  border: 4px double #ffa700;
}

#turns {
  padding: 10px;
  text-align: center;
  font-size: 48px;
}

.row {
  font-size: 50px;
  margin: 30px;
  color: #b80000;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.letters{
  border: 1px solid yellow;
  text-shadow: 2px 2px 4px black;
  color: #ff4000;
  display: flex;
  padding: 10px;
}

#spaces{
  font-size: 140px;
  color: #ff4000;
  display: flex;
  justify-content: space-around;
  text-shadow: 3px 5px black;
}

#alert{
  font-size: 150px;
  text-align: center;
  color: #b80000;
  text-shadow: 2px 2px 4px black;
  transform: all .3s ease-in-out;
}

#alert:hover{
  transform: scale(1.5);
}

button {
  position: relative;
  background-color: black;
  color: #ff4000;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  font-size: 30px;
  font-family: arial;
  left: 45%;
  text-align: center;
}



@media only screen and (min-device-width: 768px)
                   and (max-device-width: 1024px)
                   and (-webkit-min-device-pixel-ratio: 1) {
    body {
        background-size: 1500px 1558px;
    }

    h1 {
      text-align: center;
      left: 400px;
    }

    #titles {
      width: 120%;
    }

    .row{
      display: flex;
      margin: 135px;
      flex-flow: row wrap;
    }
}