body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/43/d4/d7/43d4d7e5ba1cfa7959a1fab8d64f22ea.gif);
  background-size: 1500px 1000px;
}

h1 {
  color: #f8f9ac;
  font-size: 50px;
  text-align: center;
  text-shadow: 3px 3px 5px black;
  text-decoration: underline;
  position: fixed;
  left: 600px;
  margin: 0 auto;
}

form {
  color: #ffa700;
  text-align: center;
  padding: 80px;
}

#top-left {
  color: #ffa700;
  font-size: 20px;
  text-align: left;
  position: fixed;
  margin: 0 auto;
  border: 4px double #ffa700;
  padding: 0px 40px 50px 40px;
}

#top-right {
  color: #ffa700;
  position: fixed;
  text-align: left;
  margin: 0 auto;
  right: 0px;
  border: 4px double #ffa700;
  padding: 0px 30px 50px 30px;
}

.row {
  font-size: 50px;
  margin: 30px;
  color: #b80000;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.letters{
  border: 1px solid yellow;
  display: flex;
  padding: 10px;
}

.spaces{
  font-size: 140px;
  color: #ff4000;
  display: flex;
  justify-content: space-around;
  text-shadow: 3px 5px black;
}